<link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="/samples/sample-03/css/style.css">
        <div class="page-wrapper">

            <!-- price-1 -->
            <section class="price-1">
                <div class="container">
                    <h3>Website Examples</h3>
                    <p class="lead">
                    	Some of our favourites
                    </p>
                    <div class="row">
                        <div class="col-sm-3">
                            pic here!
                        </div>
                        <div class="col-sm-3">
                        	<p>
                        		Example 1
                        	</p>

                        </div>
                                                <div class="col-sm-3">
                        	<p>
                        		Example 1
                        	</p>

                        </div>
                                                <div class="col-sm-3">
                        	<p>
                        		Example 1
                        	</p>

                        </div>

                    </div>
                </div>
            </section>
        </div>
       </div>
<!-- footer-3 -->
            <footer class="footer-3">
                <div class="container">
                    <div class="row v-center">
                        <div class="col-sm-2">
                            <a class="brand" href="#">Recsy</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="additional-links">
                                
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6>Nashville, TN</h6>
                            <div class="address">
                                Built at HackNashville 5
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/flat-ui/js/bootstrap.min.js"></script>
        <script src="/common-files/js/modernizr.custom.js"></script>
        <script src="/common-files/js/startup-kit.js"></script>
        <script src="/samples/sample-03/js/script.js"></script>
    </body>
</html>