<style>body{background: url('/images/ipad.png'); background-repeat: no-repeat; background-size: 1440px;}</style>
<div class="banner home"> 
    		<div class="row">
    			<h1>Hi, We are Recsy</h1>
    			<h2>and We Want To Be Your</h2>
    			<h2 class="rotate">Resume, Portfolio, One-Pager, Webhost</h2>
    			<a href="#" class="btn btn-lg btn-primary">Create Your Website</a>
    		</div><!--end row-->
    	</div><!-- /.container -->
	 </div><!--end homebanner-->