<div class="banner home"> 
   	<div class="container">
    		<div class="row">
    			<h1>Hi, We are Rec-Sy</h1>
    			<h2>and We Want To Be Your</h2>
    			<h2>___________</h2>
    			<a href="#" class="btn btn-lg btn-primary">Create Your Website</a>
    		</div><!--end row-->
    	</div><!-- /.container -->
	 </div><!--end homebanner-->